{% extends 'layout.twig' %}
{% block body %}
    <div class="section">
        <div class="container">
            <h3 class="section-heading">Page not found!!!</h3>
            <p class="section-description">This page no longer exists! A few things could cause this: an old link, a misspelling, or technical difficulties on our end.
            </p>
            <a class="button button-primary" href="/">Ride Home</a>
        </div>
    </div>
{% endblock %}